.card{

    height: 35vh;
    width: 25vw;
    background-color: #008B8B;
    margin: auto;
    text-align: center;
    border: 10px solid #000000;
    padding: 15px;
}

.Image{

    height: 361px;
    width: auto;
}